@import "fonts.css";
/* optional imports that use the props */
/* @import "open-props/normalize"; */
/* @import "open-props/buttons"; */

@import "open-props/style";
/* just light or dark themes */
@import "open-props/normalize/dark";
@import "open-props/buttons/dark";
/* @import "open-props/normalize/light";
@import "open-props/buttons/light"; */

/* individual imports */
/* @import "open-props/colors";
@import "open-props/easings";
@import "open-props/animations";
@import "open-props/sizes";
@import "open-props/gradients"; */
/* see PropPacks for the full list */

html {
  /* font-family: "ibm_plex", sans-serif; */
  font-family: "Hack", sans-serif;
}

body {
  overflow-x: hidden;
  width: 100%;
  padding: var(--size-5);
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}
main {
  margin: 0 auto;
  max-width: 120ch;
  position: relative;
}

/* type Start */

h1 {
  /* font-family: "Hack", sans-serif; */
  font-family: "ibm_plex", sans-serif;
  max-inline-size: initial;
  text-align: center;
}
h2,h3, h4, h5, h6 {
  /* font-family: "Hack", sans-serif; */
  font-family: "ibm_plex", sans-serif;
  max-inline-size: initial;
  margin-top: var(--size-5);
  margin-bottom: var(--size-5);

}

main h2 {
  background: var(--gradient-5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main h3 {
  background: var(--gradient-22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
time {
  display: block;
  font-family: "ibm_plex", sans-serif;
  max-inline-size: initial;
  text-align: center;
  font-size: var(--size-4);
  margin: 0 0 var(--size-8)  0;
}

p {
  max-inline-size: initial;
}
li {
  /* padding-inline-start: var(--size-2); */
  margin-left: var(--size-3);
}
p,
li {
  line-height: var(--size-6);
}
p,
ul {
  padding: 0 0 var(--size-5) 0;
}
a {
  text-decoration: underline;
  text-underline-offset: var(--size-1);
}
a:hover {
  color: var(--orange-5);
  /* text-decoration-color: var(--orange-5); */
}
picture {
  box-shadow: var(--shadow-5)
}
pre{

  margin:  0 0 var(--size-5) 0;
}

/* Utils */
.floated-right-image {
  float: right;
  margin-left: var(--size-3);
  margin-bottom: var(--size-3);
}
