---
import BaseLayout from "../layouts/BaseLayout.astro";
import { toAnchor  } from "../scripts/utils";
const allPosts = await Astro.glob("../pages/posts/*.md");

const pageTitle = "";
---

<style>
  nav {
    margin-top: var(--size-8);
  }

  nav ul {
  }
  nav li {
    margin-bottom: var(--size-6);
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    max-inline-size: initial;
  }
  nav li a {
    display: block;
  }
</style>
<BaseLayout pageTitle={pageTitle}>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <nav id="menu"> 
    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a id={toAnchor(post.url || '')} href={post.url} data-astro-reload={!!post.frontmatter.pico8}>
              
              {post.frontmatter.title}
            </a>
            {post.frontmatter.description}
          </li>
        ))
      }
    </ul>
  </nav>
</BaseLayout>
