---
import Social from "./Social.astro";
---

<footer class="footer">
  <nav class="footer-nav">
    <Social platform="Mastodon" link="https://mastodon.social/@sasky" />
    <Social
      platform="Linkedin"
      link="https://www.linkedin.com/in/cameron-grant-5802b45b/"
    />
    <Social platform="Github" link="https://github.com/sasky/" />
  </nav>
</footer>
