---
import Hamburger from "./Hamburger.astro";
import { toAnchor } from "../scripts/utils";
const isHome = Astro.url.pathname === "/";
const anchorLink = isHome ? "menu" : toAnchor(Astro.url.pathname);
---
<header>
  {
    !isHome && (
      <nav class="header-nav">
        <a class="header-link" href={"/#" + anchorLink}>
          <div class="header-hamburger">
            <span class="header-line" />
            <span class="header-line" />
            <span class="header-line" />
          </div>
          <span>menu</span>
        </a>
      </nav>
    )
  }
  {
    isHome && (
      <>
        <h1 class="header-title">sasky.nz</h1>
        <h2 class="header-subtitle">Cameron Grant</h2>
      </>
    )
  }
</header>
